/*  =========== Reset =========  */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* font */
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-400.woff) format(woff),
    url(./fonts/Pacifico-Regular.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico-Regular.woff) format(woff),
    url(./fonts/Pacifico-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --black: rgb(28, 28, 28);
  --fade-black: rgb(40, 38, 38);
  --white: rgb(250, 250, 250);
  --primary-accent: rgb(240, 194, 8);
  --secondary-accent: rgb(243, 240, 193);
  --warning: rgb(215, 41, 41);
  --high-priority: rgb(144, 42, 13);
  --normal-priority: rgb(39, 144, 13);
  --low-priority: rgb(13, 144, 113);
  --transparent: rgba(59, 55, 55, 0.5);
  --transparent-white: rgba(255 255 255/ 0.5);

  --fs-sz-xlg: 40px;
  --fs-sz-lg: 20px;

  --pd-lg: 20px;
  --pd-sm: 10px;
  --pd-xxsm: 2px;

  --gp-xlg: 40px;
  --gp-lg: 20px;
  --gp-sm: 10px;

  --br-lg: 20px;
  --br-sm: 10px;
  --br-xlg: 40px;

  --mark-priority-dim: 12px;

  --container_width: min(550px, 100%);
}

body,
html,
.container {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--black);
}

.container {
  margin: 0 auto 0;
  max-width: var(--container_width);
}

main {
  display: flex;
  flex-direction: column;
}

.hero_page_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 100%;
  color: var(--white);
  font-size: var(--fs-sz-xlg);
}

.change-view-holder {
  flex: 1;
  display: flex;
}
/* Today page */

.today_page {
  flex: 1;
  padding: var(--pd-sm);
  color: var(--white);
  overflow-y: auto;
  max-height: 90vh;
  position: relative;
}

.today_page p {
  opacity: 0.7;
}

[data-tasks-section] {
  display: flex;
  flex-direction: column;
  row-gap: var(--gp-sm);
}
[data-priority] {
  appearance: none;
  background-color: var(--white);
  width: var(--mark-priority-dim);
  height: var(--mark-priority-dim);
  border-radius: 50%;
  outline: 2px solid;
  outline-offset: 2px;

  &:checked {
    background-color: var(--black);
  }
}

[data-priority="1"] {
  outline-color: var(--high-priority);
}

[data-priority="2"] {
  outline-color: var(--normal-priority);
}

[data-priority="3"] {
  outline-color: var(--low-priority);
}
.overdue-title {
  color: var(--warning);
  padding-top: 20px;
}

.task {
  background-color: var(--transparent);
  padding: var(--pd-lg);
  display: grid;
  grid-template-columns: 15px 2fr 1fr;
  gap: var(--gp-lg);
  border-radius: var(--br-sm);
  border: 2px solid var(--transparent-white);
}

.today_page .task.task_mark {
  transition: 300ms;
  padding: 0;
  overflow: hidden;
  max-height: 0;
}

.task_overdue_date {
  color: var(--warning);
}

.today_page .description {
  max-width: 300px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.today_page .mark-status {
  align-self: start;
}

.more_options_section {
  display: flex;
  justify-content: end;
  gap: var(--gp-sm);
}

.task-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.more_options_action {
  display: flex;
  gap: var(--gp-lg);
  width: calc-size(auto, size);
  transition: 100ms;
  overflow: hidden;
}

[data-task-action],
.show_more_options {
  cursor: pointer;
}

.more_options_action.hide {
  width: calc-size(auto, size * 0);
}

.delete_task {
  color: var(--warning);
}

.mainNavController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gp-xlg);
  background-color: var(--black);
  opacity: 0.9;
  padding: var(--pd-lg);
}

.nav-icon {
  pointer-events: none;
}

[data-change-main-view] {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.btn_add_task{
  position: sticky;
  bottom: 5px;
  margin-left: auto;
  margin-right: 10px;
  max-width: fit-content;
  padding: var(--pd-sm);
  background: var(--white);
  border-radius: 10px;
  color: var(--black);
}

/* TaskDialog page */

.TaskDialog_page {
  transition: 300ms allow-discrete;
  border: none;
  left: 50%;
  top: 100%;
  translate: -50% 100%;
  height: 70%;
  background: var(--fade-black);
  width: var(--container_width);
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  border: 2px solid var(--transparent-white);
  

  &:focus {
    outline: none;
  }
}

.TaskDialog_page:open {
  translate: -50% -100%;
  transition: 100ms;
}
dialog::backdrop {
  backdrop-filter: blur(1px);
}
@starting-style {
  .TaskDialog_page[open] {
    translate: -50% 100%;
  }
}

.dialog_form {
  display: flex;
  flex-direction: column;
  gap: var(--br-lg);
  font-size: var(--fs-sz-lg);
  padding: var(--pd-lg);
}

.dialog_form > div {
  display: flex;
  gap: var(--gp-lg);
  align-items: center;
}

.dialog_form > div > *:first-child {
  width: 20px;
}
.dialog_form > div > *:last-child {
  flex: 1;
}

.dialog_form :is(input, textarea, select) {
  padding: var(--pd-sm) 0;
  
  &:focus{
    outline: none;
  }
}

.dialog_form > div * {
  background-color: var(--fade-black);
  color: var(--white);
  opacity: 0.8;
  border: none;
}
.dialog_form .description {
  height: 50px;
}

.btn-save_task {
  border: none;
  margin-top: 5px;
  border-radius: var(--br-sm);
  padding: var(--pd-xxsm) var(--pd-lg);
  background-color: var(--primary-accent);
}

::-webkit-scrollbar {
  display: none;
}

.hide{
  display: none;
}